@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

*{
    font-family: 'Dongle', sans-serif;
}
.big-text{
    font-size: 4rem;
}
.mdm-text{
    font-size: 3.5rem;
}
.sml-text{
    font-size: 0.85rem;
}
.toast-position{
    position: fixed;
    top: 50%;
    right: 0;
}

  